/* paletacolores{
    color: #B11A5D
    #FF7B31
    #FFBE00
    #F35047
    #FF005E
    #D90E5D
} */

*{
    box-sizing: border-box;
    font-family: 'Orienta', sans-serif;
    margin: 0;
    padding: 0;
}

#nav-mobile{
    right: 10px;
    position: relative;
}

#count{
    margin: 0;
    padding: 0;
}

h2{
    color: #B11A5D;
    font-family: 'Shrikhand', cursive;
}
hr{
    border: 1.5px solid #FFBE00;
}

.line{
    border: 1.5px solid#F35047 ;
}

.shopping{
    position: relative;
    top: 30px;
}

.searchedProducts{
    padding: 8px;
}

#search-form{
    margin-top: 20px;
    padding: 20px;
}

#categories{
    position: relative;
    top: 100px;
}

.categorieCard{
    padding: 8px;
}

.waves-effect{
    margin: 5px 0px;
}